body {
  font: 1rem 'Raleway', sans-serif;
  text-align: center;
  color: #373640;
  /* background-image: url("../img/city-bg.jpg"); */
  background-size: cover;
  background-position: center;
}

.veil{
  /* background-color: rgba(255, 255, 255, 0.65); */
}

h2 {
  text-align: center;
  margin: 0 0 1.5rem 0;
}

/* --- Header Section --- */
header {
  padding: 10px;
  background-color: RGBA(189, 183, 107, 0.25);
}

h1 {
  display: inline;
  font: 900 3rem 'Lato', sans-serif;
  margin: 2rem;
  vertical-align: middle;
}

.logo-line {
  margin: 2rem;
}

.logo {
  height: 4rem;
}

/* --- Welcome Banner --- */

.welcome-banner img{
  height: 2.5rem;
  display: inline;
}

/* --- Navigation Bar --- */
.nav-bar {
  margin: 1rem 1rem 0rem;
}

.nav-tab {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.4rem auto;
}

.nav-tab:hover {
  background-color: RGBA(189, 183, 107, 0.75);
}

.nav-tab-current {
  padding: 0.5rem 1rem;
  background-color: RGBA(189, 183, 107, 0.75);
  border-radius: 10%;
}

nav a img {
  height: 2rem;
  margin: auto 0.5rem;
}

nav a {
  color: #373640;
  font-size: 1.4em;
  font-weight: 700;
}

/* --- Side Bar --- */
aside {
  position: fixed;
  left: 5%;
  /* float: left; */
  background-color: RGBA(189, 183, 107, 0.25);
  text-align: left;
  z-index: 2;
}

aside ul {
  padding: 0 0.5rem 0 1rem;
  list-style: none;
}

aside li {
  font-size: 1.5em;
  font-weight: 700;
  padding: 0.4rem 0;
  color: #373640;
}


/* --- Gallery --- */

.gallery {
  padding: 2rem;
  background-color: rgba(116, 180, 155, 0.4);
  text-align: center;
}

.gallery img {
  width: 100%;
  border-radius: 5%;
  border: 0.5px solid white;
}

.picture-box {
  display: inline-block;
  position: relative;
  padding: 10px;
  margin: auto;
}

.caption {
  position: absolute;
  font-size: 1.2em;
  bottom: 1rem;
  left: 1rem;
  color: white;
  background-color: rgba(128, 128, 128, .6);
  padding: 0 0.5rem;
  margin: 0;
}

/* --- Form Section --- */

form {
  text-align: left;
  background-color: rgba(47, 79, 79, 0.1);
  width: 50%;
  max-width: 650px;
  margin: 2% auto;
  padding: 2%;
}

form label {
  margin-right: 10px;
}

.form-check {
  display: inline;
  margin-right: 15px;
}

.form-btns {
  text-align: center;
}

.form-btn {
  margin: 15px;
}

.form-group {
  position: relative;
}

.invalid-input {
  border: 2px solid red;
}

.input-hint-hidden {
  display: none;
}

.input-hint-show {
  font-size: 0.75em;
  display: inline;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  margin: 0 15px;
  color: grey;
}

input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder{
  color: transparent;
}

/* --- Carousel --- */

#carousel {
  padding: 0rem;
  background-color: rgba(47, 79, 79, 0.2);
}

.carousel-item {
  padding: 3% 15%;
}

.carousel-item img {
  margin: auto;
  border-radius: 5%;
}


/* --- Table, List --- */
.table {
  width: 40%;
  margin: 1rem auto;
  /* background-color: rgba(47, 79, 79, 0.1); */
  background-color: white;
}

.table thead th {
  border: 2px solid rgba(47, 79, 79, 0.7);
}

th, td {
  border: 1px solid rgba(47, 79, 79, 0.7);
}

td img {
  width: 100%;
  border: 2px solid white;
  border-radius: 5%;
}

.list-group {
  text-align: left;
  width: fit-content;
  margin: auto;
}

/* ---Footer Section --- */

.copyright, .company {
  font: italic 700 1.2em 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.65);
}
